footer {
  background-color: antiquewhite;
  color: black;

  padding: 1rem;
  
    .social-media {
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;
      
  
      a {
        margin: 0 0.5rem;
        img {
          width: 24px;
          height: 24px;
        }
        
      }
    }
  
    @media (max-width: 768px) {
      padding: 0.5rem;
  
      .social-media {
        a {
          margin: 0 0.25rem;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  