footer {
  border-top: 1px solid black;
  padding: 15px;
  

  .footer {
      display: flex;
      justify-content: space-between;
      background-color: #E1D4C2;
      gap: 30px;
      flex-direction: row;
  }

  p {
      font-size: 18px;
      color: #000000;
  }
}

.social-icons {
  display: flex;
  gap: 30px;

  img {
      width: 28px;
      max-height: 28px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
      flex-direction: column;
  }
}