body{
  background-color: #644e32;
  font-size: 20px;
  h2{
    font-size: 40px;
  }
}
.content{
  
 .ingredients {
  background-color: #E1D4C2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
    border-radius: 0 0 35px 35px;
   }
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 0.5rem;
      }
    }
  
    @media (max-width: 768px) {
      padding: 0.5rem;
  
      ul {
        li {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
