.preparation {
    padding: 1rem;
  
    h2 {
      text-align: center;
    }
  
    .step {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
  
      .number {
        background-color: greenyellow;
        color: #fff;
        border-radius: 50%;
        padding: 0.5rem;
        margin-right: 1rem;
        min-width: 2rem;
        text-align: center;
      }
  
      p {
        margin: 0;
      }
    }
  
    @media (max-width: 768px) {
      padding: 0.5rem;
  
      .step {
        flex-direction: column;
        align-items: flex-start;
  
        .number {
          margin-right: 0;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  