.time {
  background-color: #040404;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  
    h2 {
      margin-top: 0;
      color: wheat;
          text-align: center;
    }
    .times{
      color: wheat;
      font-size: 50px;
    }
  
    .timer {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .display {
        font-size: 50px;
        margin-bottom: 1rem;
        color: whitesmoke;
      }
  
      .buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
  
        button {
          background-color: cadetblue ;
          color: #fff;
          border: none;
          padding: 0.5rem;
          margin: 0.2rem;
          border-radius: 4px;
          cursor: pointer;
  
          &:hover {
            background-color:blueviolet ;
          }
        }
      }
  
      #startButton {
        background-color: wheat;
        color: black;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background-color:antiquewhite;
        }
      }
    }
  
    @media (max-width: 768px) {
      padding: 0.5rem;
  
      .display {
        font-size: 1.5rem;
      }
    }
  }
  